.quiz {
    color:#fff;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg,#01074d 0%,#0015b3 100%);
}
.quiz h1 {
    margin-left: 10px;
}
.quiz div *{
    text-align: center;
}
.quiz-wrapper {
    width: 600px;
}